<section>
    <select ID=“Sample” runat=“server”>

        <asp:ListItem Enabled=”true” Text=“Select Subject” Value=“-1”></asp:ListItem>

        <asp:ListItem Text=“History” Value=”1”></asp:ListItem>

        <asp:ListItem Text=“Geography” Value=”2”></asp:ListItem>

    </select>

    <select ID=“Sample2” runat=“server”>

        <asp:ListItem Enabled=”true” Text=“Select Subject2” Value=“-1”></asp:ListItem>

        <asp:ListItem Text=“English” Value=”1”></asp:ListItem>

        <asp:ListItem Text=“Anatomy” Value=”2”></asp:ListItem>

    </select>
</section>


